@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__nuxt {
  height: 100%;
}

:root {
  --primary: black;
  --secondary: rgb(106, 254, 158);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  border-radius: 6px;
}

body {
  overflow-y: scroll;
}